[Unit]
Description=timelogger
After=network.target

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/bin/true
ExecStop=/home/jtm/documents/system_settings/startup/time-log-down.sh

[Install]
WantedBy=multi-user.target
